@import "normalize.scss";

body, html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.welcome-page-div {
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  float: left;
  transition: all .2s ease-in-out;
  background-image: url(image_path('one-image.jpeg'));
}
.welcome-page-div:hover {
  opacity: .9;
}

.welcome-page-left {
  background-color: #3e5641;
}

.welcome-page-right {
  background-color: #d36135;
}
